/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* ECRIVEZ VOTRE CODE CI-DESSOUS */

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  font-size: 0.9em;
}

header {
  font-size: 2.25em;
  text-align: center;
}

h1,h2 {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  letter-spacing: 1.25px;
}

h2+p{
  text-indent: 20px;
}

body{
  line-height: 1.5em;
  letter-spacing: 1,25px;
  word-spacing: 1.25px;
}

a:link{
  color: #FF7F50;
  text-decoration: underline;
}

a:hover{
  color: #DC143C;
  text-decoration: none;
}

a:focus{
  color: #87CEFA;
  text-decoration: none;
  outline: none;
}

a:visited{
  color: #CD5C5C;
  text-decoration: underline;
}

a:active{
  color:#90EE90;
}

a[href^="https://"]:after {
  display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    content: "";
    background: url("external-link-52.png") no-repeat 0 0;
    background-size: 100%;
    margin-left: 5px;
}

nav ul li{
  display: block;
  text-decoration: none;
  font-size: 1.25em;
  display: block;
  height: 80px;
  width: 125px;
  border: 1.5px solid black;
  padding: 27.5px;
  padding-top: 30px;
  padding-right: 30px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 2px;
}

nav ul li a:link{
  text-decoration: solid;
}

aside ul li{
  list-style-type: "→";
}

